# ======================
# Python
# ======================
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/

# ======================
# Environnements
# ======================
env/
venv/
.venv/
.env
.env.*
.python-version

# ======================
# Flask / Config
# ======================
config.py
instance/
flask_session/

# ======================
# Bases de données
# ======================
*.db
*.sqlite
*.sqlite3

# ======================
# Uploads & fichiers temporaires
# ======================
uploads/
chat_uploads/
*.log

# ======================
# Front / JS
# ======================
node_modules/
npm-debug.log*
yarn-error.log*

# ======================
# OS
# ======================
.DS_Store
Thumbs.db

# ======================
# IDE / Editor
# ======================
.vscode/
.idea/
*.swp
*.swo
